/*
    Name: Ludvig Liljenberg
    Date: 04/19/2019
    Section: CSE 154 AF

    This css file styles the index.html site. It gives the site a black look
    with pink and blue colored accents. It also contains the classes
    .space-evenly, .space-between and .space-around which ared used by
    the javascript in main.js to change the layout of the boxes.

 */

body {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  font-family: Helvetica;
}

main {
  padding: 10px;
  background-color: gray;
}

aside {
  flex-direction: column;
  padding: 30px;
  width: 300px;
}

select {
  margin-bottom: 50px;
}

h1 {
  color: white;
  text-shadow: 3px 3px 5px black;
}

main, #container, .box {
  border: 3px black solid;
  border-radius: 10px;
}

main, aside {
  display: flex;
}

button, .box {
  background-color: fuchsia;
}

button {
  border: 3px solid aqua;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px black;

}

button:hover {
  border: 3px solid fuchsia;
}

button:hover, #container {
  background-color: aqua;
}

.box {
  width: 1em;
  height: 1em;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

#container {
  display: flex;
  width: 90vw;
  height: 90vh;
  align-items: center;
  overflow: hidden;
}
